input[type="text"], input[type="email"] {
	display: block;
	width: 100%;
	font-size: 1.3em;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 3px;
	border: 1px solid #ccc;
}

input[type="submit"] {
	background: #2f8cff;
	color: #fff;
	border: 0;
	padding: 9px 10px;
	font-size: 1em;
	margin-top: 9px;
	border-radius: 3px;
	width: 100%;
	cursor: pointer;
	margin-top: 25px;
}

input {
	outline: none;
}

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-size: 100%;
	border: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}


input[type=search] {
	border: solid 1px #ccc;
	padding: 7px 14px 7px 32px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}


input:-moz-placeholder {
	color: #ccc;
}
input::-webkit-input-placeholder {
	color: #ccc;
}

// .btn, input[type=submit] {
// 	display: inline-block;
// 	border-radius: 2px;
// 	-webkit-appearance: none;
// 	padding: 15px 80px;
// 	margin-bottom: 0;
// 	line-height: 20px;
// 	text-align: center;
// 	vertical-align: middle;
// 	cursor: pointer;
// 	background-color: #006dcc;
// 	border: 1px solid #0065bd;
// 	border-bottom: 2px solid #003f75;
// 	color: #fff;
// 	text-decoration: none;
//
// 	&:hover {
// 		background-color: #005fb3;
// 		color: #fff;
// 	}
// }

a.button, input[type="submit"] {
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	padding: 1em 55px;
	display: inline-block;
	border-radius: 2px;
	background: $header-color;
	color: #fff;
	border: 0;
	transition: .2 background ease;
	letter-spacing: 1px;
	font-size: .9rem;
	cursor: pointer;

	svg {
		height: 1em;
		position: relative;
		top: 2px;
		width: 1em;
	}

	&:hover, &.light.dark-hover:hover {
		background: #364261;
	}

	&.keep-text-size {
		font-size: 1.3rem;
	}

	&.smaller-text {
		font-size: .8rem;
	}

	&.no-side-padding {
		padding-left: 0;
		padding-right: 0;
	}

	&.no-padding {
		padding: 0;
	}

	&.no-hover {
		&, &.light, &.dark {
			&:hover {
				background: none;
			}
		}

		&.light:hover {
			color: $header-color;
		}
	}

	&.no-border {
		&, &.light, &.light:hover {
			border-color: rgba(0,0,0,0);
		}
	}

	&.dark {
		background: none;
		border: 1px solid #fff;

		&.brand {
			background: $header-color;
		}

		&:hover {
			background: #fff;
			color: $header-color;
		}

		&.no-border {
			border: 0;
		}
	}

	&.dark-blue {
		background: #364261;

		&:hover {
			background: $header-color;
		}
	}

	&.light {
		background: #fff;
		color: $header-color;
		border: 1px solid $header-color;
		&.shadow {
			box-shadow: 0 12px 34px 5px rgba(0,0,0,0.15);
		}

		&:hover {
			color: #fff;
			background: $header-color;
		}
	}
}