@media #{$nav-snap} {
	.show_hero_search header nav form {
		display: none;
	}

	.show_hero_search .hero_search {
		display: block;
	}
}

header {
	padding: 16px 0 10px 0;
	background: $header-color linear-gradient(45deg, rgba(0, 0, 0, 0), $secondary-header-color);
	color: #fff;
	min-height: 47px;

	form {
		position: relative;

		input[type=search] {
			box-sizing: border-box;
			width: 100%;
			border: 0;
		}
	}

	.top-bar {
		@media #{$nav-snap} {
			display: flex;
		}

		.logo {
			a {
				display: block;
				line-height: 0;
				text-decoration: none;
				color: #fff;

				span {
					display: none;
					position: relative;
					top: -4px;
					right: -3px;
				}
			}

			svg {
				fill: #fff;
				height: 33px;
				width: 50px;
				position: relative;
				top: 5px;
			}
		}
	}

	nav {
		@media #{$nav-snap} {
			flex: 1;
			margin: 0 0 0 10px;
			display: block;

			&.right-nav {
				text-align: right;

				svg {
					width: 15px;
					position: relative;
					top: 6px;
				}
			}
		}
		display: none;

		a {
			color: #fff;
			text-decoration: none;
			display: block;
			padding: 20px 0;

			@media #{$nav-snap} {
				display: inline-block;
				padding: 7px 0;
				margin: 0 15px;
				border-bottom: 2px solid rgba(255, 255, 255, 0)
			}

			&.active, &.active:hover {
				border-bottom-color: rgba(255, 255, 255, .3);
			}

			&:hover {
				text-decoration: none;
				color: #fff;
				@media #{$nav-snap} {
					border-bottom-color: rgba(255, 255, 255, .1);
				}
			}
		}
	}
}

.nav-open header nav {
	display: block;
}

.nav-toggle {
	position: absolute;
	right: 25px;
	font-size: 1.6em;
	line-height: 1em;
	text-decoration: none;
	color: #fff;
	top: 4px;

	@media #{$nav-snap} {
		display: none;
	}
}

.hero_search {
	display: none;
	text-align: center;
	flex: 0 0 100%;
	padding: 60px 0 40px 0;

	h1 {
		margin: 0 0 14px 0;
	}

	form {
		position: relative;
		max-width: 800px;
		margin: 0 auto;
		padding: 20px 0;

		svg {
			position: absolute;
			top: 31px;
			right: 12px;
			display: inline-block;
			width: 36px;
			height: 40px;
			cursor: pointer;
			fill: $link-color;
			&:hover {
				fill: $link-hover-color;
			}
		}
	}

	h1 {
		// font-size: 2.4em;
		color: #fff;
	}

	input[type=search] {
		margin: 0;
		color: #555;
		padding: 15px;
		font-size: 1.1em;
		border: 0;
	}
}
