.templates {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;

	a {
		text-decoration: none;
		display:block;
		transition: all 0.2s ease;
		border: 3px solid rgba(0,0,0,0);
		border-radius: 10px;
		padding: 20px;

		&:hover {
			border-color: #f6f6f6;
			background: #fbfbfb;
		}
	}

	li {
		position: relative;
		line-height: 0;
		padding: 0;
		@media #{$desktop} {
			flex: 0 0 50%;
		}
		margin: 0;
		box-sizing: border-box;
		padding: 10px;
		img {
			border-radius: 3px;
		}

		p, h2 {
			line-height: 1.4em;
		}

		p {
			@media #{$desktop} {
				min-height: 50px;
			}
		}
	}

	.description {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background: rgba(0,0,0,.8);
		color: #fff;
		padding: 5px;
		box-sizing: border-box;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;

		h2, p {
			display: inline;
			color: #fff;
			margin: 0;
			padding: 0;
			line-height: 1em;
		}
	}
}