.cheats {
	margin: 0 -10px;

	&:after {
		content: "";
		display: table;
		clear: both;
	}

	.inner-content {
		display: none;
		background: #f9f9f9;
		padding: 10px;

		p {
			font-size: .85em;
			line-height: 1.6em;
			margin: 0 0 5px 0;
		}

		h5 {
			font-size: 1.1em;
			margin: 15px 0 0 0;
			padding: 0;
		}
	}
	li {
		border: 0;
		transition: border 200ms ease;

		&.show {
			border-left: 2px solid #26abe2;
		}
	}

	h4:hover, .show h4 {
		color: #222;
		background: #fafafa;
	}

	ul:last-child li:last-child h4 {
		border-bottom: 0;
	}

	h2 {
		font-size: 1.3em;
		text-transform: capitalize;
		background: #f9f9f9;
		padding: 5px 10px;
		margin: 0;
		font-weight: 600;

		a {
			font-size: .5em;
			float: right;
			padding: 7px 3px;
		}
	}

	h4 {
		font-size: 1em;
		padding: 0;
		margin: 0;
		border: 1px solid #eee;
		color: #666;
		border-left: 0;
		border-right: 0;
		padding: 5px 10px;
		cursor: pointer;
		transition: color 200ms ease;
	}

	li + li h4 {
		border-top: 0;
	}

	section {
		margin: 20px 10px;
		border: 1px solid #eee;
		background: #fff;
	}

	ul, li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}